nav {
  background-color: blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  margin: 5px;
}

li:first-child {
  margin-left: 0;
}

[href="pseudo3.html"]:visited {
  color: rgb(231, 231, 24);
}

[href="pseudo1.html"]:hover {
  color: lightblue;
  font-weight: bold;
}

[href="pseudo2.html"]:hover {
  background-color: lightblue;
}

[href="pseudo2.html"]:active {
  color: red;
  font-style: italic;
}

input[type="search"]:focus {
  border: 4px solid aqua;
  color: rgb(143, 216, 32);
  font-size: 20px;
}

.currentPage {
  background-color: rgb(94, 124, 163);
}
